# Redirection vers HTTPS 
RewriteCond %{SERVER_PORT} ^80$ [OR]
RewriteCond %{HTTPS} =off
RewriteRule ^(.*)$ https://dreambody.fr/$1 [R=301,L]

# Redirection du www vers non-www en HTTPS
RewriteCond %{HTTP_HOST} ^www\.dreambody\.fr [NC]
RewriteRule ^(.*)$ https://dreambody.fr/$1 [R=301,L]